* {
  margin: 0;
  padding: 0;
}

#header {
  width: 95%;
  height: 120px;
  text-align: center;
  align-content: center;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(130, 130, 130, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
}
#header h1 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 60px;
}
body {
  background-color: #d8d8d8;
}
#body {
  width: 95%;
  height: 600px;
  margin: auto;
  background: #3b3b3b;
  background: linear-gradient(
    90deg,
    rgb(47, 47, 47) 1%,
    rgba(196, 196, 196, 1) 50%,
    rgba(47, 47, 47) 100%
  );
  border-radius: 30px;
  margin-top: 20px;
  align-content: center;
  text-align: center;
}
#image {
  height: 400px;
  border-radius: 10px;
  margin-bottom: 10px;
}
#container {
  display: flex;
  align-content: center;
  text-align: center;
}
.joke {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
}

#footer {
  width: 95%;
  height: 120px;
  text-align: center;
  align-content: center;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(130, 130, 130, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
}
